 *.pyc
 __pycache__/
 *.pyo
 *.pyd
 *.db
 *.sqlite3
 *.sqlite3.backup
 *.log
 *.pid

 # Môi trường ảo
 venv/
 env/
 .env
 .venv/

 # Tệp tạm
 *.bak
 *.swp
 *~

 # Tệp IDE
 .vscode/
 .idea/
 *.sublime-project
 *.sublime-workspace

 # Tệp hệ thống
 .DS_Store
 Thumbs.db

 # Tệp nhạy cảm
 local_settings.py
 settings.py