{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block title %}Quản lý hồ sơ{% endblock %}
{% block content %}
<h2>Quản lý hồ sơ ứng tuyển</h2>
<div class="card p-4">
  {% if applications %}
  <table class="table">
    <thead>
      <tr>
        <th>Vị trí tuyển dụng</th>
        <th>Ứng viên</th>
        <th>CV</th>
        <th>Trạng thái</th>
      </tr>
    </thead>
    <tbody>
      {% for application in applications %}
      <tr>
        <td>{{ application.job.title }}</td>
        <td>{{ application.user.full_name }}</td>
        <td><a href="{{ application.cv.url }}" target="_blank" class="btn btn-outline-dark btn-sm">Xem hồ sơ</a></td>
        <td>
          {% if application.status == 'pending' %}
          <form method="post" action="{% url 'hr:update_application_status_inline' application.id %}">
            {% csrf_token %}
            <select name="status" onchange="this.form.submit()" class="form-select form-select-sm">
              <option value="pending" selected>Chờ duyệt</option>
              <option value="approved">Duyệt (Chuẩn bị phỏng vấn)</option>
              <option value="rejected">Từ chối</option>
            </select>
          </form>
          {% elif application.status == 'approved' %}
            <span class="badge text-bg-primary fs-7">CHUẨN BỊ PHỎNG VẤN</span>
          {% elif application.status == 'passed' %}
            <span class="badge text-bg-success fs-7">ĐẠT</span>
          {% elif application.status == 'rejected' %}
            <span class="badge text-bg-danger fs-7">BỊ TỪ CHỐI</span>
          {% else %}
            <span class="badge text-bg-secondary fs-7">ĐÃ GHI NHẬN</span>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p>Hiện chưa có đơn ứng tuyển nào.</p>
  {% endif %}
</div>
{% endblock %}
