{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block title %}Cập nhật thông tin trạng thái{% endblock %}
{% block content %}
<h2>Update Application Status</h2>
<div class="card p-4">
    <form method="post">
        {% csrf_token %}
        <label for="status">Trạng thái</label>
        <select name="status" id="status">
            <option value="pending" {% if application.status == 'pending' %}selected{% endif %}>Chờ duyệt</option>
            <option value="approved" {% if application.status == 'approved' %}selected{% endif %}>Duyệt</option>
            <option value="rejected" {% if application.status == 'rejected' %}selected{% endif %}>Từ chối</option>
        </select>
        <button type="submit">Cập nhật</button>
    </form>
</div>
{% endblock %}